.contimg {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 40%;
    background-color: rgba(243, 66, 66, 0.5);
    width: 100%;
    text-align: center;
}

.text-block h5 {
    font-size: 100px;
}